* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(3, 1, 29) !important;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  /* #edecea */
  background: #f5f5f5;
  min-height: 100vh;
}
ul {
  list-style-type: none;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.7;
  color: #4d4b4a !important;
}
input, textarea {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: .3px;
  margin-top: 20px;
  height: 40px;
  padding: 4px 10px;
}
textarea {
  height: auto;
  resize: none;
}
input[type="button"] {
  width: 100%;
  max-width: 200px;
  margin: 20px auto;
}
#file {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.custom-upload {
  cursor: pointer;
  margin-top: 10px;
  padding: 5px;
  text-align: left;
  border: 1px solid #bca18f;
}
.custom-upload__text.hide {
  display: none;
}
.content { flex-grow: 1; }
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.m10 {
  margin: 10px !important;
}
.mt100 {
  margin-top: 100px;
}
.btn {
  outline: none;
}

.header {
  position: relative;
  background: #fff;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.nav ul {
  display: flex;
  min-width: 167px;
  margin: 0;
}
.nav ul:first-child {
  margin-right: 30px;
}
.nav ul:last-child {
  margin-left: 30px;
}
.nav ul li {
  margin: 5px 30px;
}

.logo {
  width: 60px;
}
.logo img {
  width: 100%;
}

.auth-block ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
  display: flex;
}


/* slider */
.slider-wrap {
  width: 100%;
  overflow: hidden;
  margin-bottom: 85px;
}
.slider {
  position: relative;
  display: flex;
  width: 100%;
  height: 704px;
  transition: all 1s ease-out;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 9;
  transition: all 1s .3s;
}
.slide__media {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 8;
}
.slide__ch {
  position: absolute;
  top: 0;
  width: 33.35%;
  height: 100%;
  overflow: hidden;
  transition: all 1s .5s;
}
.slide__ch-0 { left: 0; }
.slide__ch-1 { left: 33.33%; }
.slide__ch-2 { left: 66.66%; }
.slide__ch
.slide__image {
  position: absolute;
  z-index: 8;
  transition: all 1s;
}
.slide__ch-0
.slide__image {
  transform: translateX(0);
}
.slide__ch-1
.slide__image {
  transform: translateX(-33.33%);
}
.slide__ch-2
.slide__image {
  transform: translateX(-66.66%);
}

.slide.hide {
  opacity: 0;
}
.slide.hide .slide__content {
  transform: translateY(200%);
}
.slide.show {
  opacity: 1;
}

.slide__content {
  position: absolute;
  bottom: 10%;
  left: 5%;
  max-width: 540px;
  padding: 15px 45px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
  transition: all .3s ease-in-out;
}
.slide__content h1,
.slide__content p {
  color: #fff !important;
  line-height: 1.8;
}
/* !slider */

/* our */
.our {
  display: flex;
  justify-content: center;
  padding: 45px 10px;
  margin-bottom: 85px;
  background: #fff;
}
.our__media {
  max-width: 320px;
  margin: 15px;
}
.our__media img {
  width: 100%;
}
.our__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 450px;
  margin: 15px;
}
/* !our */

/* gallery */
.gallery {
  display: flex;
  margin-bottom: 85px;
}
.gallery__row {
  display: flex;
}
.gallery__media {
  max-width: 320px;
  padding: 10px;
  overflow: hidden;
}
.gallery__media-big {
  width: 100%;
  max-width: 100%;
}
.gallery__media img {
  width: 100%;
}
.gallery__img-block {
  background: #000;
  transition: all .3s ease-in-out;
}
.gallery__img-block img {
  opacity: .4;
  transition: all .3s ease-in;
}
.gallery__img-block:hover {
  transform: scale(.98);
}
.gallery__img-block:hover img {
  opacity: 1;
}
/* !gallery */

/* reviews */
.reviews {
  padding: 100px 10px;
}
.reviews__title {
  margin: 10px;
}
.reviews__row {
  display: flex;
  flex-wrap: wrap;
}
.reviews__block {
  background: #fff;
  width: 100%;
  max-width: calc(1200px / 3 - 30px);
  margin: 10px;
}
.reviews__usr {
  display: flex;
  align-items: center;
  margin: 32px 16px;
}
.reviews__usr-media {
  width: 64px;
  height: 64px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.reviews__avatar {
  width: 100%;
}
.reviews__usr-name {
  letter-spacing: normal;
  font-weight: 500;
  margin-left: 16px;
}
.reviews__text {
  margin: 16px;
}
/* !reviews */

/* contacts */
.contacts {
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
  max-width: 700px;
  padding: 0 10px;
}
.contacts__title {
  margin-bottom: 32px;
}
.socials__link {
  margin: 10px;
  text-decoration: none !important;
}
.socials__link:hover {
  opacity: .9;
}
/* !contact */

/* faq */
.faq {
  margin-top: 100px;
}
.faq__question {
  font-weight: bold;
  font-size: 16px;
}
.faq__answer {
  padding-left: 28px;
}
/* !faq */

/* footer */
.footer {
  background: #ffffff;
  padding-bottom: 30px;
}
.footer__row {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 25px 10px;
}
.footer__media {
  width: 180px;
  height: 180px;
}
.footer__media img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 7;
}
.footer__row .btn {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background: #bca18f;
  color: #fff !important;
  border-radius: 0;
  z-index: 9;
}
.footer__row .btn:hover {
  color: #000 !important;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright {
  font-size: 10px;
}
/* !footer */

.auth-service {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.auth-service__block {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  background: #fff;
}
.link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #bca18f;
  width: 250px;
  height: 40px;
}
.link-btn:last-child {
  margin-top: 16px;
}
.auth {
  display: flex;
  justify-content: center;
}
.auth__block {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 450px;
  padding: 32px 16px;
  margin-top: 100px;
  background: #fff;
}

.lk {
  margin-top: 100px;
  padding-bottom: 100px;
}
.slides {
  display: flex;
}
.slides__slide {
  width: 100%;
  max-width: 220px;
  margin: 10px;
  background: #fff;
}
.slides__image {
  width: 100%;
}
.slides__content {
  max-height: 100px;
  overflow: hidden;
  margin: 10px;
}

.slides__slide > input[type="button"] {
  margin: 20px 10px;
}

.add-user {
  transition: all .3s ease-in;
}
.add-user.hide {
  opacity: 0;
}
.add-user.show {
  opacity: 1;
}

/* errors */
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.error__row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.error h1 {
  text-transform: uppercase;
}
.error p {
  font-size: 18px;
}
/* !errors */
